
* {
  margin: 0;
  padding: 0;
}

body {
  background: #f6ffed;
}

.flex-center {
  display: flex;
  align-items: center;
}
.options-container {
  margin: auto;
  height: 100vh;
  width: 1000px;
  display: flex;
  flex-direction: column;
  header {
    .title {
      font-size: 30px;
      padding: 16px 0;
      font-weight: bold;
    }
    .desc {
      padding-bottom: 12px;
      color: rgba(0, 0, 0, .65);
      font-weight: bold;
    }
  }
  main {
    flex: 1;
    overflow: auto;
    padding-right: 48px;
    .anticon {
      cursor: pointer;
      font-size: 20px;
      display: inline-block;
      transform: translateY(1px);
    }
    .anticon-delete {
      color: #f5222d;
    }
    .anticon-copy, .anticon-setting {
      color: #1677ff;
    }
  }

  footer {
    padding: 24px 0;
    display: flex;
    flex-direction: row-reverse;
  }
}